@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Slab', serif;
}

.first-section{
    background-color: #1f2937;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center ;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%; 
}

.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

img{
    margin: 50px;
}

.p-first{
    margin-right: 80px;  
}

.sign-up-first-section{
    background-color: #3882f6;
    color: white;
    width: 80px;
    height: 25px;
    margin-right: 265px;
    border: 1px #3882f6;
    border-radius: 10px;
}